[Unit]
Description=Explorer HAT Tester.
After=network.target

[Service]
User=root
WorkingDirectory=/opt/Explorer_HAT_Test_Fixture/Software/exhattester
ExecStart=/opt/Explorer_HAT_Test_Fixture/Software/exhattester/start.sh
Restart=always
RestartSec=10
SyslogIdentifier=exhattester
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
